@import url(./cssRest.css);

:root{
    --Very_dark_blue: hsl(233, 47%, 7%);
    --Dark_desaturated_blue: hsl(244, 38%, 16%);
    --Soft_violet : hsl(277, 64%, 61%); 

    /* Neutral*/
    --White: hsl(0, 0%, 100%)
    --font-family: 'Big Shoulders Display', cursive;
    --font-accent: 'Lexend Deca', sans-serif;
    --fc-main: hsla(0, 0%, 100%, 0.75);
    --fc-slightly-transparent: hsla(0, 0%, 100%, 0.75);
}

body{
    /* margin: 0 auto; */
    background-color: var(--Very_dark_blue);
    font-size: 0,9375rem;
    font-family: var(--font-accent);
    font-weight: 400;
    color: hsl(0, 0%, 100%);

    /* For this project only */
    display: grid;
    place-content: center;
    min-height: 100vh;

}

section{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    overflow: hidden;
    max-width: 375px;

    background-color: var(--Dark_desaturated_blue);
    border-radius: 0.625rem;
}

.text-content{
    padding: 1.3rem;
    text-align: center;
    display: grid;
    gap: 1rem;
}
.header-text{
    font-size: 1.8rem;
}
.header-text span{
    color: var(--Soft_violet);
}

.text-decoration{
    color: var(--fc-slighty-transparent);
}

.stats-info{
    display: grid;
    gap: 1.8rem;
    margin: 10px 0;
}
.stats h5{
    color: var(--fc-slightly-transparent);
    text-transform: uppercase;
}

.img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-container{
    position: relative;
}

.img-container::after{
    position: absolute;
    content: ' ';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--Soft_violet);
    opacity: .5;
}

.img-container{
    order: -1;
}

@media only screen and (min-width: 665px){
    section{
        max-width:65.4375rem ;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* font-size: 1.2rem; */
    }
    .item-position:nth-child(1){
        grid-row: 1;
        grid-column: 1;
    }

    .item-position:nth-child(2){
        grid-column: 2;
    }

    .text-content{
        padding: 3rem;
        text-align: start;
        
    }

    .stats-info{
        display: flex;
        /* display: grid;
        grid-template-columns: repeat(3, 1fr); */
    }
}
